//css
// .myNavBar .myNavBar__left{}
.header {
    .myNavBar {
        // &__left{
        // }
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);

        .myNavBar__col {
            padding-left: 0;
        }

        .myNavBar__left {
            display: flex;
            align-items: center;

            .navbar-brand {
                flex-grow: 1;
                text-align: center;
                margin-right: 0;

                img {
                    width: 110px;
                }

                .logo-black {
                    display: inline-block;
                }

                .logo-white {
                    display: none;
                }
            }

            .myNavBar__categories {
                flex-grow: 1;
                text-align: center;
                @include styleText($color-black-light, $fs-1, $fw-0);
                cursor: pointer;

                i {
                    color: $color-gray-3;
                }
            }

            .myNavBar__form-search {
                flex-grow: 8;
                @include styleFormSearch($color-white-cream, $color-white-0, $color-gray-4, $color-black-light);
            }
        }

        .myNavBar__right {
            .navbar-nav {
                justify-content: space-between;
                align-items: center;

                .nav-item {
                    padding: $pd-2 + 2 $pd-2;
                    border-radius: $border-radius + 1;
                    position: relative;

                    .nav-link {
                        @include styleText($color-black-light, $fs-1, $fw-0);
                    }

                    &:hover {
                        background-color: $color-gray-1;

                        .overlay {
                            display: block;
                        }
                    }

                    .overlay {
                        display: none;
                        background-color: $color-white-0;
                        width: 330px;
                        padding: $pd-3;
                        text-align: center;
                        position: absolute;
                        top: 60px;
                        right: 0;
                        z-index: 1;
                        border-top: 1px solid $color-gray-1;
                        box-shadow: 0 4px 16px $color-gray-5;

                        &::before {
                            content: "";
                            width: 15px;
                            height: 15px;
                            background-color: $color-white-0;
                            display: block;
                            border-top: 1px solid $color-gray-1;
                            border-left: 1px solid $color-gray-1;
                            position: absolute;
                            top: -9px;
                            right: 10%;
                            transform: rotate(45deg);
                        }
                    }
                }

                .business,
                .instructor {
                    &::after {
                        content: "";
                        width: 99%;
                        height: 50px;
                        position: absolute;
                        bottom: -35px;
                        right: 0;
                        background-color: transparent;
                        display: block;
                        z-index: 0;
                    }
                }

                .myNavBar__cart {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    line-height: 20px;

                    .nav-link {
                        font-size: $fs-3 + 2;
                    }
                }

                .myNavBar__buttons {
                    display: flex;

                    &:hover {
                        background-color: transparent;
                    }

                    .button--white {
                        margin-right: $mg-0;
                    }

                    .button {
                        white-space: nowrap;
                    }
                }
            }
        }

        @media screen and (min-width: 1200px) and (max-width: 1375px) {
            .myNavBar__right {
                .navbar-nav {
                    .nav-item {
                        white-space: nowrap;
                        text-align: center;

                        .nav-link {
                            font-size: $fs-1 - 1;

                        }

                        .overlay {
                            white-space: normal;
                        }
                    }
                }
            }

            .myNavBar--reset {
                padding-left: 0;
            }
        }

        //max-width: 1200px
        @include responsive("extra-large") {

            .business,
            .instructor {
                display: none;
            }

            .myNavBar__right {
                .navbar-nav {
                    justify-content: space-around;
                }
            }
        }

        @include responsive("medium") {
            .myNavBar__left {

                .myNavBar__categories,
                .myNavBar__form-search {
                    display: none;
                }
            }

            .myNavBar__right {
                width: 50%;
                margin-left: auto;

                .navbar-nav {
                    text-align: center;

                    .myNavBar__buttons {
                        display: none;
                    }
                }
            }
        }
    }
}

.header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:75%;
    background-color: white;
    display: block;
    padding: 20px 25px;
    z-index: 99999;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .25s ease-in;
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in, -webkit-transform .25s ease-in;


    display: none;

    .header-mobile__close {
        margin-left: auto;
        display: block;

        i {
            font-weight: bold;
            font-size: $fs-5;
        }
    }

    .myNavBar {
        display: block;
        padding: 0;
        border: none;
        box-shadow: none;

        .myNavBar__categories,
        .myNavBar__form-search {
            background-color: $color-white-0;
        }

        .myNavBar__categories {
            @include styleText($color-black-light, $fs-0 + 5px, $fw-0);
            cursor: pointer;
            padding: 20px 0px;

            i {
                color: $color-gray-3;
            }
        }

        .myNavBar__form-search {
            font-size: 20px;
            @include styleFormSearch($color-white-cream, $color-white-0, $color-gray-4, $color-black-light);

            // background-color: $color-white-0!important;
            .form-control {
                font-size: 20px;
            }
        }

        .nav-item {
            padding: $pd-2 + 2 $pd-2;
            border-radius: $border-radius + 1;
            position: relative;
            background-color: $color-white-0;

            .nav-link {
                @include styleText($color-black-light, $fs-0 +3, $fw-0);
            }

            &:hover {
                background-color: $color-gray-1;
            }
        }

        .myNavBar__buttons {
            .button {
                font-size: 20px;
            }
        }
    }
}

.header-mobile.is-show {
    transform: translateX(0%);
}

.header.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    z-index: 100;
    animation: fade 0.25s forwards 1;
    background-color: $color-white-0;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


// header - mobile custom
@include responsive("medium") {
    .header-mobile {
        display: block;
    }
}